// Define variables for your color scheme


$red: #fd1014b3;
$blue: #236c43;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #329e61;
$gray: #0E0000;
$light-gray: #F4F4F4;


$gold: #faa338;

$beige: #FEFBF1;
$darker-beige: #EBCFC4;
$light-purple: #b2aed6;
$purple: #9088D4;
$darker-purple: #4F496B;
