<form
  novalidate="novalidate" class="full-width"
  action="/costumes/" accept-charset="UTF-8" method="get"  >

  <div class="search-form-control form-group" >
      <h3 class="border-bottom"> Filter by</h3>


    <strong>Keyword</strong>
    <input
      class="form-control string required"
      type="text" name="keyword" placeholder="Search..."
      data-search-target="keyword" data-action="keyup->search#reload"
    />

    <div class="border-bottom"></div>

    <strong>Category</strong>
    <div class="checkbox-options">
      <div>
        <input type="checkbox" id="women" name="women" value="false"
              data-action="change->search#reload" data-search-target="women">
        <label for="women"> Women</label>
      </div>
      <div>
        <input type="checkbox" id="men" name="men" value="false"
              data-action="change->search#reload" data-search-target="men">
        <label for="men"> Men</label>
      </div>
    </div>

    <div class="border-bottom"></div>

    <strong>Size</strong>
    <div class="checkbox-options" >

      <div>
        <input type="checkbox" id="XS" name="XS" value="false"
              data-action="change->search#reload" data-search-target="size">
        <label for="XS"> XS</label>
      </div>

      <div>
        <input type="checkbox" id="S" name="S" value="false"
              data-action="change->search#reload" data-search-target="size">
        <label for="S"> S</label>
      </div>
      <div>
        <input type="checkbox" id="M" name="M" value="false"
              data-action="change->search#reload" data-search-target="size">
        <label for="M"> M</label>
      </div>
      <div>
        <input type="checkbox" id="L" name="L" value="false"
              data-action="change->search#reload" data-search-target="size">
        <label for="L"> L</label>
      </div>
      <div>
        <input type="checkbox" id="XL" name="XL" value="false"
              data-action="change->search#reload" data-search-target="size">
        <label for="XL"> XL</label>
      </div>
      <div>
        <input type="checkbox" id="XXL" name="XXL" value="false"
              data-action="change->search#reload" data-search-target="size">
        <label for="XXL"> XXL</label>
      </div>

    </div>


    <div class="border-bottom"></div>
    <p><strong>Price </strong>(€/day)</p>
      <div class="two-inputs">

        <input class="small-input" type="text" placeholder="min" pattern="^\d*$"
              data-action="keyup->search#reload" data-search-target="min">
        <input class="small-input" type="text" placeholder="max" pattern="^\d*$"
              data-action="keyup->search#reload" data-search-target="max">
      </div>

    <div class="border-bottom"></div>
    <strong>Condition</strong>
    <div class="checkbox-options">
      <div>
        <input type="checkbox" name="perfect" value="false"
              data-action="change->search#reload" data-search-target="perfect">
        <label for="perfect"> Perfect</label>
      </div>
      <div>
        <input type="checkbox" name="used" value="false"
              data-action="change->search#reload" data-search-target="used">
        <label for="used"> Used</label>
      </div>
    </div>



  </div>
</form>
