<%# search_controller.js is called here to allow for filters to change the content of the #costumes div %>

<div class="row" data-controller="search"
     data-search-max-value=<%= Costume.maximum(:price)%> >


  <div class="col-2 p-5">
    <%# All params are sent from this partial %>
    <%= render "filters", class:"p-3" %>
  </div>



  <div class="col-10 p-3">
    <%# Browse all costumes %>
    <div class="cards m-3" data-search-target="div" id="costumes">


      <% @costumes.each do |costume| %>
        <%= render "costumes/costume_card", costume: costume %>
      <% end %>


    </div>
  </div>


</div>
