<div class="padding-x-y">
  <div class="d-flex flex-column gap-3">

    <h2> Received bookings </h2>
    <div class="cards">
      <% @received_bookings.each do |booking| %>
        <%= render partial: "bookingcard", locals: { booking: booking, client: false } %>
      <% end %>
    </div>


    <h2> Sent bookings </h2>
    <div class="cards">
      <% @sent_bookings.each do |booking| %>
        <%= render partial: "bookingcard", locals: { booking: booking, client: true } %>
      <% end %>
    </div>

  </div>
</div>
