<h1>Page de fou</h1>

<%# Costume Card %>
<div class="card-trip">
  <img src="https://cdn.beebs.app/19180292-b886-40a4-9369-13557aef845f.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>Spider Man Costume</h2>
      <p>Size Medium</p>
    </div>
    <h2 class="card-trip-pricing">3€/day</h2>
  </div>
</div>
