<%= render "common/banner" %>

<div class="padding-x-y">
  <div class="three-centered-blocks">
    <div class="px-5">
      <h3> Concept</h3>
      <p>
        We encourage a more sustainable approach to costume wearing while
        reducing the financial burden of buying costumes for one-time events.
      </p>
    </div>
    <div class="px-5">
      <h3> How it works</h3>
      <p>
        Browse through a range of costumes listed by other members. You can
        find the right costume through search and filtering options.
      </p>
    </div>
    <div class="px-5">
      <h3> Disclaimer</h3>
      <p>
        Please note that this is a portfolio project for experimental
        purposes and not a genuine service or product offering.
      </p>
    </div>
  </div>

</div>
