<div class="container-home">
  <% if user_signed_in? %>
  <p>Hello <%= current_user.first_name %></p>
  <% else %>
  <p>You are not log-in</p>
  <% end %>
  <h1>The place to find your best costume</h1>

  <%# Costume Card %>
  <div class="cards">

  <div class="card-trip">
    <img src="https://cdn.beebs.app/19180292-b886-40a4-9369-13557aef845f.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Spider Man Costume</h2>
        <p>Size Small</p>
      </div>
      <h2 class="card-trip-pricing">3£/day</h2>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://cdn.beebs.app/19180292-b886-40a4-9369-13557aef845f.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Spider Man Costume</h2>
        <p>Size Small</p>
      </div>
      <h2 class="card-trip-pricing">3£/day</h2>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://cdn.beebs.app/19180292-b886-40a4-9369-13557aef845f.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Spider Man Costume</h2>
        <p>Size Small</p>
      </div>
      <h2 class="card-trip-pricing">3£/day</h2>
    </div>
  </div>

  <div class="card-trip">
    <img src="https://cdn.beebs.app/19180292-b886-40a4-9369-13557aef845f.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Spider Man Costume</h2>
        <p>Size Small</p>
      </div>
      <h2 class="card-trip-pricing">3£/day</h2>
    </div>
  </div>

    <div class="card-trip">
    <img src="https://cdn.beebs.app/19180292-b886-40a4-9369-13557aef845f.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Spider Man Costume</h2>
        <p>Size Small</p>
      </div>
      <h2 class="card-trip-pricing">3£/day</h2>
    </div>
  </div>

    <div class="card-trip">
    <img src="https://cdn.beebs.app/19180292-b886-40a4-9369-13557aef845f.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2>Spider Man Costume</h2>
        <p>Size Small</p>
      </div>
      <h2 class="card-trip-pricing">3£/day</h2>
    </div>
  </div>

</div>
