.banner {
  background-size: cover;
  background-position: center;
  padding: 100px;
}

.banner-text-container {
  background-color: #FEFBF1;
  border-radius: 4px;
  width: 300px;
  height: 300px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.purple {
  color: $darker-purple;
}
