.three-centered-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  // margin: 32px 0;
  justify-content: space-between;
  justify-items: center;
  text-align: center;

}

.img-block {
  background-size: cover;
  border-radius: 8px;
  background-position: center;
  padding: 10%;
  height: 400px;
  width: 80%;

  strong {
    color: white;
    font-size: 44px;
  }
}

.filter-block {
  min-width: 250px;
  max-width: 300px;
  padding: 4% 2%;
}
