.bouton {
    text-decoration: none;
    background-color: #0D1282;
    border-radius: 16px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 12px;
    padding: 6px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'Oxygen', sans-serif;
  }
  .bouton:hover {
    background-color: #ACB1D6;
    transform: translate(0px,24px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
  }
  .bouton-edit-delete {
    display: flex;
    justify-content: center;
}
