.full-width-button {
  width:            100%;
  background-color: $purple;
  color:            white;
  text-align:         center;
  border-radius:      $border-radius;
  margin-bottom:      20px;
  &:hover {
    background-color: $darker-purple;
    color:           white;
  }
}

.return-btn {
  font-size:        xx-large;
  position:         fixed;
  color:            $darker-purple;
  left:             60px;
  top:              130px;
}
