.card-show {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px 32px;
  width: 100%;
  margin-bottom: 42px;
  background-color: #F6F4EB;
  font-family: 'Oxygen', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;

}

.card-show-infos {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.card-show > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.card-show h2 {
  margin-top: 16px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
  display: flex;
  justify-content: center;
  color: #0D1282;
}

.card-show p {
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

.form-blank {
  padding: 20px;
  display: flex;
  justify-content: center;
  color: #0D1282;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  gap: 60px;
}

.btn-submit {
  background-color: #0D1282;
  color: beige;
  border-radius: 4px;
  width: 100%;
}
