body {
  background-color: $beige;
}


.container-authentication {
  padding: 20px;
  background-color: #F6F4EB;
  height: 100%;
  flex-grow: 1;
}

.main-container {
  padding: 4% 8%;
  background-color: $beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.border-bottom {
  border-bottom: black 1px;
  padding-bottom: 16px;
}
