// grid to show many items
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 24px;
}

// Product card
.costume-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 280px;
  border-radius: 8px;


  img {
   height: 80%;
   width: 100%;
   object-fit: cover;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    margin: 0;
  }
}


// Costume description in the costume-card
.costume-card-infos {
  height: 20%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
