// COSTUME INDEX + MYCOSTUMES
/// grid to show many items
.cards {
  display:        flex;
  flex-wrap:      wrap;
  justify-items:  center;
  gap:            24px;
}

/// Product card
.costume-card {
  overflow:       hidden;
  background:   white;
  box-shadow:     $shadow;
  width:          240px;
  height:         400px;
  border-radius:  $border-radius;

  img {
   height:        300px;
   width:         100%;
   object-fit:    cover;
  }
}


/// Costume description in the costume-card
.costume-card-infos {
  height:             100px;
  padding:            16px;

  .costume-infos {
    display:          flex;
    justify-content:  space-between;
    align-items:      flex-end;
  }

  p {
    font-size:        smaller;
  }
}

// COSTUME SHOW

.costume-show {
  margin:               32px 0px;
  display:              flex;
  justify-content:      center;
  width:                100%;
  padding:              8px;

  img {
    width:              460px;
    object-fit:         cover;
    border-radius:      $border-radius;
    box-shadow:         $shadow;
  }

  .card-description {
    width:              460px;
    display:            flex;
    flex-direction:     column;
    gap:                30px;
    padding:            16px 32px;
    background-color: white;
    box-shadow:         $shadow;
  }

  h2 {
    margin-top:         16px;
    color:              $darker-purple;
  }
}

.infos-pills {
  display:              flex;
  gap:                  16px;
  flex-wrap: wrap;

  p {
    border :            1px solid $darker-purple;
    padding:            4px 8px;
  }
}
