.form-select {
  background-color: white !important;
}

.input-shadow {
  box-shadow: 0 2px 5px black !important;
}

.multi-input {
  display: flex;
  justify-content: space-between;

  > .two-row {
    width: 45% !important;
  }
}

.two-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.small-input {
  width: 60px;
  height: 40px;
  text-align: center;
}

input:invalid {
  color: red;
}


.flatpickr-input {
  width: 150px;
}


.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#review_content {
  padding: 2px 4px;
  width: 100%;
  font-size: 12px;
}
