.form-select {
  background-color: white !important;
}

.input-shadow {
  box-shadow: 0 2px 6px rgba(0,0,0,0.08) !important;
}

.multi-input {
  display: flex;
  justify-content: space-between;

  > .two-row {
    width: 45% !important;
  }
}

.two-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.small-input {
  width: 60px;
  height: 40px;
  text-align: center;
}

input:invalid {
  color: red;
}


.flatpickr-input {
  width: 150px;
}
