body {
  background-color: $beige;
}


.container-form {
  margin: 4% 30%;
  max-width: 500px;
}

.padding-x-y {
  padding: 4%;
}

.two-blocks-page {
  display: flex;

}

.border-bottom {
  border-bottom: black 1px;
  padding-bottom: 16px;
}
