.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map-box {
  position: sticky;
  top: 100px;
  display: flex;
  height: calc(100vh - 120px);
  width: 45%;
}
