<%= form_for [costume, review] do |f| %>
  <div class="rate" data-controller="rating">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text" data-action="click->rating#rate5">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text" data-action="click->rating#rate4">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text" data-action="click->rating#rate3">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text" data-action="click->rating#rate2">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text" data-action="click->rating#rate1">1 star</label>
    <%= f.number_field :rating, data: { rating_target: "rateInput"} %>
  </div>
  <%= f.text_field :content %>
  <%= f.submit "Go"%>
<% end %>
