  <div
    class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= asset_path 'banner.jpeg' %>)"
    >

    <div class="banner-text-container">
      <h2>Looking for a costume?</h2>
      <h2>We got you</h2>
      <p>From a costume party to a festival, find the right costume for your event</p>
    </div>

  </div>
