  <div
    class="banner"
    style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(<%= asset_path 'banner.jpg' %>)"
    >

    <div class="banner-text-container">
      <%= link_to "Shop all", costumes_path, class:"purple" %>
      <h2>Looking for a costume?</h2>
      <h2>We got you</h2>
      <p>
        CostumeMania makes dressing up made more accessible, sustainable,
        and enjoyable for everyone.
      </p>
    </div>

  </div>
