  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://i.iheart.com/v3/re/assets.getty/5f91b2bf6ccdfedab581e1aa);">
    <div class="container">
      <h1><strong>The place to find the best costume !</strong></h1>
      <p>For your partys and more</p>
    </div>
  </div>
